@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic);
@default: #34495e;
@green: #16a085;
@orange: #f39c12;
@blue: #2980b9;
@red: #e74c3c;
@purple: #8e44ad;
@main-bg: #ecf0f1;
@sec-bg: #e0e7e8;


body {
    background-color: @main-bg;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #404040;
}

*{
    outline: none!important;
}

a{
    &:hover{
        text-decoration: none;
    }
}

ul{list-style:none;margin:0;padding:0;}

#main{
    position: relative;
}

.navbar{
    border-radius: 0;
    margin: 0;
    background-color: #2c3e50;
    border-color: transparent;
}

.side-panel{
    position: absolute;
    left: 0;
    width: 225px;
    min-height: 100%;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    font-size: 13px;
    float: left;
    margin: 0;
    background-color: @default;
    color: #fff;
    overflow-x: hidden;
    
    #side{
        width: 100%;

        li{
            position: relative;
            display: block;
            float: left;
            border-top: 1px solid #54677a;
            border-bottom: 1px solid #142638;

            >a{
                display: block;
                width: 225px;
                padding: 15px;
                color: #fff;
                background-color: @default;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

                &.active{
                    background-color: #2c3e50;
                }

                &:hover{
                    background-color: #3d566e;
                }
            }
        }

        li.panel{
            margin-bottom: 0;
            border-left: none;
            border-radius: 0;
            box-shadow: none;

            ul {

                li{
                    border:0;

                    a{
                        width: 225px;
                        color: #333;
                        background-color: @main-bg;
                        padding: 10px 15px;

                        &:hover{
                            background-color: @sec-bg;
                        }

                        &.active{
                            background-color: @sec-bg;
                        }
                    }
                }
            }
        }

    }

    .side-user{
        display: block;
        width: 100%;
        padding: 15px;
        border-top: none !important;
        border-bottom: 1px solid #142638;
        text-align: center;

        img{
            display: block;
            margin-bottom: 15px;
            margin-left: 20px;
        }

        .welcome {
            margin: 0;
            font-style: italic;
            color: #9aa4af;

            .fa {
                padding-right: 0;
            }
        }

        .name {
            margin: 0;
            font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 20px;
            font-weight: 300;
            color: #ccd1d7;

            i.fa{
                padding: 0;
            }

            .last-name {
                font-weight: 400;
                color: #fff;
            }
        }
    }

    .nav-search{
        padding: 15px;
        border-top: none;

        input {
            padding-right: 30px;
            border-radius: 0;
            border: 0;
        }

        button {
            position: absolute;
            top: 15px;
            right: 5px;
            background-color: transparent;
            color: #404040;

            &:active{
                box-shadow: none;
            }
        }
    }

    i.fa {
        padding-right: 10px;
    }

    i.fa-caret-down {
        float: right;
        margin-top: 2px;
        margin-right: -10px;
    }
}

/*main content*/
.page-wrapper {
    margin: 0 0 0 225px;
    padding: 0 30px;
    min-height: 1300px;
    border-left: 1px solid #2c3e50;
}

.page-title {
    margin: 30px 0;

    h1 {
        margin: 0;
        margin-bottom: 15px;
        font-size: 26px;
    }

    small {
        font-size: 18px;
    }

    .breadcrumb {
        margin-bottom: 0;
        background-color: @sec-bg;
    }
}

.portlet {
    margin-bottom: 30px;
    border: 1px solid;
    border-color: @default;

    .portlet-heading{
        color: #fff;
        padding: 0 15px;

        .portlet-title {
            float: left;
            margin-right: 20px;

            h4 {
                margin: 10px 0;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .portlet-status{
            float: left;
            margin: 9px 0;

            &i.fa{
                vertical-align: middle;
            }
        }
            
        .portlet-widgets {
            float: right;
            margin: 8px 0;

            .divider {
                margin: 0 5px;
            }
        }

        a {
            color: #fff;
        }
    }

    &.portlet-default{
        background-color: @default;
        border-color: @default;
    }

    &.portlet-success { 
        border-color: @green;

        .portlet-heading {
            background-color: @green;
            border-color: @green;
        }
    }

    &.portlet-warning{ 
        border-color: @orange;

        .portlet-heading {
            background-color: @orange;
            border-color: @orange;
        }
    }

    &.portlet-danger{ 
        border-color: @red;

        .portlet-heading {
            background-color: @red;
            border-color: @red;
        }
    }

    .portlet-body {
        padding: 15px;
        background: #fff;

        td{
            vertical-align: middle;
        }
    }

    .portlet-footer {
        padding: 10px 15px;
        background: @sec-bg;
    }
}

i.fa-circle{
    margin: 0px 5px 0 5px;
    font-size: 12px;
    vertical-align: middle;

        &.success{
            color: @green;
            text-shadow: 0px 0px 5px rgba(22,160,133, .9);
        }
        &.warning{
            color: @orange;
            text-shadow: 0px 0px 5px rgba(243,156,18, .9);
        }
        &.danger{
            color: @red;
            text-shadow: 0px 0px 5px rgba(231,76,60, .9);
        }
}


button.settings{
    position: fixed;
    top: 100px;
    right: -64px;
    opacity: .85;
    padding: 5px 10px;
    border-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    i.fa-cog{
        -webkit-transition: all 1s ease-in-out;
       -moz-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
       transition: all .3s ease-in-out;
    }

    &:hover i.fa-cog{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        rotation: 180deg;
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    }

    &.user{
        top: 150px;
        right: -141px;
    }

    &.users-list{
        top: 200px;
        right: -125px;
    }

    &:hover{
        right: 0;
    }
}

/*animates*/
.animate.ng-enter, .animate.ng-leave{ 
    -webkit-transition: 400ms ease-in all;
    -moz-transition: 400ms ease-in all;
    -o-transition: 400ms ease-in all;
    transition: 400ms ease-in all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 

.animate.ng-leave.animate.ng-leave-active,.animate.ng-enter {
    opacity: 0;
    left: -20px;
}

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
    opacity: 1;
    left: 0px;
}


.toggle{
    overflow: hidden;
    max-height: 1000px;
    -webkit-transition: max-height 1000ms;
    -moz-transition: max-height 1000ms;
    -o-transition: max-height 1000ms;
    transition: max-height 1000ms;

    &.ng-hide{
        max-height: 0;
        -webkit-transition: max-height 500ms;
        -moz-transition: max-height 500ms;
        -o-transition: max-height 500ms;
        transition: max-height 500ms;
    }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.dumb-link{
    cursor: pointer;
}