<div class="popover">
  <div class="arrow"></div>
  <h3 class="popover-title">Details of <span class="text-info"><strong>{{ stream.name }}</strong></span></h3>

  <div class="popover-content">
	<div ng-repeat="status in stream.statusObject">
		<p class="breadcrumb" style="margin-bottom: 10px;"><strong>Quality {{status.quality}}</strong></p>
		<div class="row">
			<div class="col-md-12" style="font-size: 12px; margin-bottom: 15px;">
				<div class="col-md-3 text-center" ng-repeat="(key, value) in status['status-map']">
					<strong>{{key}}</strong>
					<i class="fa fa-circle" ng-class="{'danger' : (value.level == 'error'), 'success' : (value.level != 'error')}"></i>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>