<div class="aside" tabindex="-1" role="dialog" ng-controller="dashBoardCtrl">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Settings</h4>
      </div>
      <div class="aside-body">
        <form action="" name="settingsForm" class="form form-horizontal">
          <div class="form-group">
            <label for="">Check streams status each</label>
            <div class="form-group">
                <div class="col-md-6">
                  <input type="text" name="timeInput" class="form-control" size="8" ng-model="timeOptions.loop" ng-pattern="timePattern" ng-required="true">
                </div>  
                <div class="col-md-6" ng-show="settingsForm.timeInput.$error.required">
                    <p class="text-danger">This field is mandatory</p>
                </div>
              </div>
              <div class="form-group" ng-show="settingsForm.$invalid && settingsForm.$dirty">
                <div class="col-md-12 text-info" ng-show="settingsForm.timeInput.$error.pattern">
                  You should enter a string with the format HH:MM:SS
                </div>
              </div>
          </div>
          <div class="form-group">
            <div class="alert alert-warning">
              The changes will not take effect until you save them
            </div>
          </div>
          <div class="form-group">
            <div class="pull-right">
              <button class="btn btn-primary" ng-disabled="settingsForm.$invalid" ng-click="saveSettings(admin, newSettings); $hide();">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>