<div ng-if="admin">
    <div class="panel panel-default side-panel">
        <ul id="side" class="nav navbar-nav side-nav">
          <!-- begin SIDE NAV USER PANEL -->
          <li class="side-user hidden-xs">
              <p class="name tooltip-sidebar-logout">
                  {{ admin.name }}
              </p>
              <div class="clearfix"></div>
          </li>
          <!-- end SIDE NAV USER PANEL -->
          <!-- begin SIDE NAV SEARCH -->
          <li class="nav-search">
              <form role="form">
                  <input type="search" class="form-control" ng-model="filter.name" placeholder="Search...">
                  <button class="btn">
                      <i class="fa fa-search"></i>
                  </button>
              </form>
          </li>
          <!-- end SIDE NAV SEARCH -->
          <!-- begin DASHBOARD LINK -->
          <!-- begin CHARTS DROPDOWN -->
          <li class="panel" ng-repeat="customer in admin.customers">
              <a ng-model="collapsed" ng-click="collapsed=!collapsed" class="dumb-link">
                  <i class="fa fa-bar-chart-o"></i> {{customer.name}} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="nav collapse toggle" ng-show="collapsed" style="display: block;">
                  <li ng-repeat="stream in customer.streams">
                      <a>
                          <i class="fa fa-angle-double-right"></i> {{ stream.name }}
                      </a>
                  </li>
              </ul>
          </li>
          <!-- end UI ELEMENTS DROPDOWN -->
      </ul>
    </div><!-- left panel-->

    <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <legend>STREAMS MONITOR</legend>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-show="!filteredCustomers.length && admin.customers">
          <div class="alert alert-warning">
            There are not customers that matches the introduced criteria
          </div>
        </div>

        <div class="col-md-12" ng-show="!admin.customers.length">
          <div class="alert alert-info">
            <h3>
              Welcome {{admin.name}}
            </h3>
            We noticed that you still have not created any customer. Why you don't start <a  class="dumb-link" ng-click="openAddCustomerModal()"><strong>creating one</strong></a>?
          </div>
        </div>

        <div class="col-md-12" ng-show="loading">
          <div class="alert alert-info">
            <h4>
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
            </h4>
          </div>
        </div>


        <div ng-hide="loading" class="col-md-4 animate" ng-repeat="customer in filteredCustomers = (admin.customers | filter:customersFilterFn |orderBy:('hasError' || 'hasConnectionError'))">
            <div class="portlet" ng-class="{
              'portlet-success' : (!customer.hasError && !customer.hasConnectionError && !customer.hasAuthorizationError),
              'portlet-warning' : (customer.hasConnectionError),
              'portlet-danger' : (customer.hasError),
              'portlet-default' : (customer.hasAuthorizationError)
              }">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4 bs-tooltip="'See {{customer.name}}\'s details'" ng-click="openCustomerModal(customer)">{{ customer.name }}</h4>
                    </div>
                    <div class="portlet-status" ng-if="(!customer.hasError && !customer.hasConnectionError && !customer.hasAuthorizationError)">
                      <i class="fa fa-check" bs-tooltip="'There are no problems'"></i>
                    </div>
                    <div class="portlet-status" ng-if="customer.hasError">
                      <i class="fa fa-bomb" bs-tooltip="''"></i>
                    </div>
                    <div class="portlet-status" ng-if="customer.hasConnectionError">
                      <i class="fa fa-warning" bs-tooltip="'There are connection errors, we can\'t fetch data'"></i>
                    </div>
                    <div class="portlet-status" ng-if="customer.hasAuthorizationError">
                      <i class="fa fa-thumbs-down" bs-tooltip="'There are issues with stream\'s permissions'"></i>
                    </div>
                    <div class="portlet-widgets">
                        <span class="divider"></span>
                        <a ng-model="collapsed" ng-click="collapsed=!collapsed"><i class="fa fa-chevron-down dumb-link"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div ng-show="collapsed" class="toggle">
                    <div class="portlet-body">
                      <table class="table table-striped table-hover table-condensed">
                        <thead>
                          <tr>
                            <th>Channel name</th>
                            <th>Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="stream in customer.streams">
                            <td ng-show="!stream.hasConnectionError && !stream.hasAuthorizationError">
                               {{ stream.name }}
                            </td>
                            <td ng-show="!stream.hasConnectionError && !stream.hasAuthorizationError"> 
                              <ul>
                                <li ng-repeat="streamStatus in stream.statusObject">
                                  <span class="text-info">{{ streamStatus.quality }}</span></a> <i ng-show="!stream.hasError" class="fa fa-circle" ng-class="{'danger' : (streamStatus.status == 'error'), 'success' : (streamStatus.status != 'error')}"></i>
                                </li>
                              </ul>
                              <i ng-show="stream.hasError" class="fa fa-circle danger"></i>
                            </td>
                            <td ng-show="!stream.hasConnectionError && !stream.hasAuthorizationError" class="text-center"> 
                              <button class="btn btn-info btn-sm" data-template="views/channel-details-popover.html" data-trigger="hover" data-container="body" bs-popover>
                                <i class="fa fa-eye"></i>
                              </button>
                              <a class="btn btn-sm" ng-class="{'btn-primary' : (streamStatus.status != 'error'), 'btn-danger' : (streamStatus.status == 'error') }" ng-show="stream.playerUrl" href="{{ stream.playerUrl }}" target="blank" data-container="body" bs-tooltip="'See video player'">
                                <i class="fa fa-desktop"></i>
                              </a>
                            </td>
                            <td ng-show="stream.hasConnectionError">
                                <span class="text-warning">
                                  There are connection errors in <b>{{ stream.name }}</b> channel! We are not able to fetch data for this stream
                                </span> 
                            </td>
                            <td ng-show="stream.hasAuthorizationError">
                                <span class="text-info">
                                  There are errors in <b>{{ stream.name }}</b> security permissions. We are not authorized to fetch data for this stream.
                                </span> 
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>    
    <button type="button" class="btn btn-primary settings" data-template="views/configuration-aside.html" bs-aside="aside">
    <i class="fa fa-cog"></i> Settings
    </button>

    <button type="button" class="btn btn-success settings user" ng-click="openAddCustomerModal()">
        <i class="fa fa-plus"></i><i class="fa fa-user"></i> Add new customer
    </button>
</div> <!--If admin exists -->

<!--admin creation-->
<div class="row" ng-if="!admin">
    
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>We need your name for enter to the app, if still you're not registered, please, create a new account</p>

        <form name="loginForm">
            <div class="col-md-4">
              <input type="text" ng-model="admin.name" class="form-control" ng-required="true">
            </div>
            <div class="row">
              <span><button class="btn btn-success" ng-click="findAdmin(admin)" ng-disabled="loginForm.$invalid" role="button">Login</button></span>
              <span><button class="btn btn-primary" ng-click="createAdmin(admin)" ng-disabled="loginForm.$invalid" role="button">Create new user</button></span>
            </div>

            <div class="form-group" ng-show="showAlert">
              <br>
              <div class="col-md-6">
                <div class="alert alert-danger">
                  Wrong user name, please enter it again or create a new user if you don't have one user created already
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="userExists">
              <br>
              <div class="col-md-6">
                <div class="alert alert-danger">
                  A user with this name already exists, please choose a different name.
                </div>
              </div>
            </div>
        </form>
    </div>
    
</div>


