<div class="modal" tabindex="-1" role="dialog" ng-controller="dashBoardCtrl">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form class="form form-horizontal" name="customerForm" novalidate>
              <div class="form-group">
                <div class="col-md-6">
                  <label for="">Customer Name</label>
                  <input type="text" name="customerName" class="form-control" ng-model="customer.name" ng-required="true">
                  <div ng-show="customerForm.customerName.$error.required && (customerForm.customerName.$dirty || showError) ">
                    <span class="text-danger">This field is mandatory</span>
                  </div> 
                </div>
                <div class="col-md-3" ng-show="updateMode">
                  <div class="pull-right">
                    <span ng-click="deleteCustomer(customer); $hide()">
                      <a class="btn btn-danger" data-template="views/delete-customer-popover.html" data-trigger="hover" data-placement="bottom" bs-popover>
                        Delete customer
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </form>
            <hr>
           

            <h3>Stream configuration</h3>
            <ng-form name="streamForm" class="form form-horizontal" novalidate>
            <div class="form-group">
              <div class="col-md-3">
                <label for="">
                  Channel name&nbsp; <span bs-tooltip="'Insert a descriptive name of the channel'" data-container="body"><i class="fa fa-info-circle"></i> </span>
                </label>
                <input type="text" class="form-control" ng-model="newStream.name" ng-required="true">
              </div>
              <div class="col-md-5">
                <div class="checkbox">
                   <label>
                     <input type="checkbox" ng-model="options.testInVideoPlayer"> <strong class="form-control-static">Include video player url (Optional)</strong>
                   </label>
                 </div>
                 <div class="checkbox">
                   <label>
                     <input type="checkbox" ng-model="options.userAndPass"> <strong class="form-control-static">Use user and passsword in the stream (Optional)</strong>
                   </label>
                 </div>
              </div>
            </div>
              
            <div class="form-group" ng-show="options.testInVideoPlayer">
              <div class="col-md-12">
                <label for="">Video Player Url</label>
                <input type="text" class="form-control" ng-model="newStream.playerUrl" ng-required="options.testInVideoPlayer">
              </div>
            </div>
            <div class="form-group" ng-show="options.userAndPass">
              <div class="col-md-6">
                <label for="">User</label>
                <input type="text" class="form-control" ng-model="newStream.user" ng-required="options.userAndPass">
              </div>
              <div class="col-md-6">
                <label for="">Password</label>
                <input type="text" class="form-control" ng-model="newStream.pass" ng-required="options.userAndPass">
              </div>
            </div>
              
              <div class="form-group">
                <div class="col-md-3">
                  <label for="">IP</label>
                  <input type="text" ng-required="true" class="form-control" ng-model="newStream.IP" ng-required="true">
                </div>
                <div class="col-md-2">
                  <label for="">Port</label>
                  <input type="text" ng-required="true" class="form-control" ng-model="newStream.port" ng-required="true">
                </div>
                <div class="col-md-2">
                  <label for="">BCC Version</label>
                  <input type="text" ng-required="true" class="form-control" ng-model="newStream.BCCVersion" ng-required="true">
                </div>
                <div class="col-md-5">
                  <label for="">Stream URL</label>
                  <input name="streamUrl" type="text" ng-required="true" class="form-control" ng-model="newStream.streamUrl" ng-focus="showInfo= 'focused'" ng-blur="showInfo= 'blurred'" ng-required="true" ng-pattern="urlPattern">

                  <div ng-show="showInfo">
                    <div ng-show="showInfo == 'focused'">
                      <p class="text-info">Enter a URL with the following pattern
                       streams.octoshape.net/rrr/xxx/yyy/zzz/ch#/</p>
                    </div>
                    <div ng-show="streamForm.streamUrl.$error.pattern && showInfo == 'blurred'">
                      <p class="text-danger">The URL must finish with a '/' character</p> 
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-show="streamForm.$invalid && (streamForm.$dirty || showStreamError)">
                <div class="col-md-12">
                  <div class="alert alert-info">
                      All the fields are mandatory in order to add a new stream
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-right">
                     <p ng-show="checkingStreamStatus"><i class="fa fa-spinner fa-spin"></i> <strong> Checking stream connection</strong></p>
                     <p ng-show="!checkingStreamStatus && validStream && !streamForm.$invalid" class="text-success"><i class="fa fa-check fa-lg"></i> There are no problems with this stream</p>
                     <p ng-show="!checkingStreamStatus && invalidStream && !streamForm.$invalid" class="text-danger"><i class="fa fa-bomb fa-lg"></i> There are problems with this stream. Please, review the data that you introduced in the previous fields, if there are no errors, please, check the stream connection with your net administrator</p>
                  </div>
                </div>
              </div>

            <div class="form-group">
              <div class="pull-right">
                <button class="btn btn-info btn-sm" ng-hide="streamForm.$invalid" ng-click="checkStreamBeforeAdd(newStream)">
                  Check stream before add
                </button>
                
                <button class="btn btn-warning btn-sm" ng-show="streamForm.$invalid" bs-tooltip="'You must complete all the mandatory fields in the stream configuration before check the stream status'">
                  Check stream status
                </button>

                <button class="btn btn-success btn-sm" ng-hide="streamForm.$invalid || checkingStreamStatus" ng-click="addStream(newStream); newStream = {}; streamForm.$setPristine;">Add stream</button>
                <button class="btn btn-success btn-sm" ng-show="streamForm.$invalid || checkingStreamStatus" ng-click="showStreamError = true;">Add stream</button>
              </div>
            </div>

            <div ng-show="customer.streams.length">
             <table class="table table-striped table-hover table-responsive">
              <thead>
                 <tr>
                 <th class="col-md-2">Name</th>
                   <th class="col-md-2">IP</th>
                   <th class="col-md-1">Port</th>
                   <th class="col-md-2">BCC Version</th>
                   <th class="col-md-4">Stream URL</th>
                   <th class="col-md-1"></th>
                 </tr>
              </thead>
              <tbody>
               <tr ng-repeat="stream in customer.streams">
                 <td>
                   <div ng-show="!editMode">
                     {{ stream.name }}
                   </div>
                   <div ng-show="editMode">
                     <input type="text" class="form-control" ng-model="stream.name">
                   </div>
                 </td>
                 <td>
                    <div ng-show="!editMode">
                      {{ stream.IP }}
                    </div>
                    <div ng-show="editMode">
                      <input type="text" class="form-control" ng-model="stream.IP">
                    </div>
                  </td>
                 <td>
                    <div ng-show="!editMode">
                      {{ stream.port }}
                    </div>
                    <div ng-show="editMode">
                      <input type="text" class="form-control" ng-model="stream.port">
                    </div>
                  </td>
                 <td>
                    <div ng-show="!editMode">
                      {{ stream.BCCVersion }}
                    </div>
                    <div ng-show="editMode">
                       <input type="text" class="form-control" ng-model="stream.BCCVersion">
                    </div>
                  </td>
                 <td>
                    <div ng-show="!editMode">
                      <div>{{ stream.streamUrl }}</div>
                      <div ng-show="stream.playerUrl">
                        <div><strong>Video Player Url</strong></div>
                        <div>{{stream.playerUrl}}</div>
                      </div>
                    </div>
                    <div ng-show="!editMode">
                      <div>User: {{ stream.user }}</div>
                      <div>Pass: {{ stream.pass }}</div>
                      <div ng-show="stream.user">
                        <div><strong>Video Player Url</strong></div>
                        <div>{{stream.playerUrl}}</div>
                      </div>
                    </div>
                    <div ng-show="editMode">
                      <input type="text" class="form-control" ng-model="stream.streamUrl">
                        <div><strong>Video Player Url</strong></div>
                        <div> <input type="text" class="form-control" ng-model="stream.playerUrl"></div>
                        <div><strong>User and Pass</strong></div>
                        <div> <input type="text" class="form-control" ng-model="stream.user"></div>
                        <div> <input type="text" class="form-control" ng-model="stream.pass"></div>
                    </div>
                  </td>
                 <td>
                    <span ng-click="editMode = true">
                       <button class="btn btn-primary btn-sm" bs-tooltip="'Edit stream'">
                         <i class="fa fa-pencil"></i>
                       </button>
                    </span>
                   <span ng-click="deleteElement(customer.streams, stream)">
                     <button class="btn btn-danger btn-sm"  bs-tooltip="'Delete stream'">
                        <i class="fa fa-trash-o"></i>
                     </button>
                   </span>
                 </td>
               </tr>
              </tbody>
             </table>
            </div>
            </ng-form>
            <div class="modal-footer">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    <button class="btn btn-primary" ng-hide="updateMode" ng-disabled="customerForm.$invalid || !customer.streams.length" ng-click="saveCustomer(customer); $hide()">
                      Save
                    </button>
                    <button class="btn btn-primary" ng-show="updateMode" ng-disabled="customerForm.$invalid || !customer.streams.length" ng-click="updateCustomer(customer); $hide()">
                      Save changes
                    </button>
                    <button class="btn btn-default" ng-click="$hide()">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
          
      </div>


      </div>
    </div>
  </div>
</div>