<div class="popover">
  <div class="arrow"></div>
  <div class="popover-content">
    <div class="row">
      <div class="col-md-12">
        Are you sure that you want to delete the customer <strong>{{ customer.name}}</strong>? <strong class="text-danger">This change will be irreversible</strong>
      </div>
    </div>
  </div>
</div>